  @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:wght@600&display=swap');

  :root {
      --primary: #18D52E;
      --secondary: #C4EAFF;
      --black: #040C05;
      --black-75: #3A2D27;
      --black-25: #040b0540;
      --error: #B33939;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Quicksand', sans-serif;
      color: var(--black-75);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  .heading {
      font-family: 'Titillium Web', sans-serif;
      color: var(--black);

  }

  header {
      padding: 20px;
      border-bottom: 1px solid var(--black-25);
      margin-bottom: 32px;
  }

  header img.logo {
      width: 3rem;
  }

  main>section {
      padding: 10px 20px;
      background-color: #f5f5f5;
  }

  main>section>h2 {
      margin-bottom: 16px;
  }

  main>section:not(:last-of-type) {
      margin-bottom: 24px;
  }

  section.inputs .form-group {
      margin-bottom: 16px;
  }

  section.inputs input,
  .btn-primary,
  select {
      width: 100%;
      padding: 12px 16px;
      border-radius: 8px;
  }

  .form-group label {
      display: block;
      margin-bottom: 8px;
  }

  .form-group input,
  select {
      border: 1px solid var(--black-75);
  }

  .btn-primary {
      padding: 12px 16px;
      background-color: var(--primary);
      border: 2px solid var(--primary);
      color: #fff;
  }

  section.completed .chapter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
  }

  .chapter :nth-child(2n) {
      width: 30%;
  }

  .tasks .subject .chapter {
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--black-25);
      padding-bottom: 12px;
  }


  .tasks .subject .chapter .btn {
      display: block;
      width: fit-content;
      padding: 4px 8px;
      border-radius: 4px;
  }

  .tasks .subject {
      margin-bottom: 24px;
      padding-bottom: 16px;
      border-bottom: 1px solid black;
  }

  .tasks .subject .time {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .tasks .subject .time :nth-child(2n) {
      width: 72px
  }

  .tasks .subject h3 {
      margin-bottom: 8px;
text-transform: capitalize;
  }

  .tasks .subject h4:only-of-type {
      margin-bottom: 8px;
  }

  footer {
      text-align: center;
      padding: 20px;
      color: #fff;
      background-color: var(--black);
  }

  footer a {
      color: var(--secondary);
      margin-right: 8px;
  }